
<div class="app-main">
    <div class="SearchInputBox">
        <input [(ngModel)]="city" type="text" id="input-box" class="input-box" placeholder="Enter the city name.."
            autocomplete="off">
        <button type="button" id="btn" (click)="getWeather()">search</button>
    </div>
    <div class="weather-body" *ngIf="weather">
        <div class="location-detalis">
            <h3>Weather Details </h3>
            <div class="city" id="city">{{city}} {{weather.sys.country}}</div>
        </div>
        <div class="weather-details">
            <div class="temp" id="temp"> {{weather.main.temp-273.15|number:'1.0-0'}}&deg;C</div>
            <div class="feel" id="feel"> feels_like:{{weather.main.feels_like-273.15|number:'1.0-0'}}&deg;C
            </div>
            <div class="min-max" id="min-max">Min:{{weather.main.temp_min-273.15| number: '1.0-0'}}&deg;C /
                Max:{{weather.main.temp_max-273.15| number: '1.0-0'}}&deg;C</div>
            <div class="weather" id="weather"> Weather:{{weather.weather[0].main}}</div>
        </div>
    </div>